# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\stijn\Documents\School\SEMESTER2\Webontwikkeling 2\Oefeningen\Labo3Oef2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
